# Box SDKs
git "git@github.com:box/box-ios-browse-sdk.git" "master"
git "git@github.com:box/box-ios-sdk.git" "master"

binary "https://github.com/box/box-ios-preview-sdk/releases/download/1.0.4/previewSDK.json" ==  1.0.4
