# Box SDKs
git "git@github.com:box/box-ios-browse-sdk.git" "master"
git "git@github.com:box/box-ios-sdk.git" "objective-c-maintenance"

binary "https://github.com/box/box-ios-preview-sdk/releases/download/v2.2.0/previewSDK.json" ==  2.2.0

# 3rd Party SDKs
github "SnapKit/Masonry" ~> 1.0.1
github "jdg/MBProgressHUD" ~> 1.0.0
